.sandboxHeader {
    text-align: center;
    padding: 10px;
    display: block;
    color: white;
}
.calculator{
    display: block;
    justify-content: left;
    align-items: top;
    float: left;
    height: 100vh;
    width: auto;
}
.calc-header{
    text-align: center;
    color: white;
}
.calc-wrapper{
    width: 400px;
    height: 0px;
    padding: 25px;
}
.button-row{
    display: flex;
    width: 100%;
}